@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "normalize";
@import "artano-fw";

$main-color: #b5da85;
$second-color: #fcff67;
$third-color: #ffd467;

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: $main-color;
}

.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.main-button {
    display: inline-block;
    padding: 12px 30px;
    background: $main-color;
    border: 5px solid $second-color;
    border-radius: 100px;
    color: #fff;
    text-transform: uppercase;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 60px 0;
    padding: 25px 45px;
    border-radius: 36px;
    box-shadow: 0px 0px 30px #b1ddef;
}

.header__logo-href {
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-menu {
    display: flex;
    list-style: none;
    justify-content: end;
    text-transform: uppercase;
    li {
        margin-left: 30px;
        a {
            color: #333;
            transition: 0.5s;
            font-weight: 300;
            &:hover {
                color: $main-color;
                transition: 0.5s;
            }
        }
    }
}

.header__banner {
    width: 100%;
    h1 {
        width: 585px;
        margin: 30px 0 20px 0;
        font-weight: 400;
        line-height: 48px;
        font-size: 36px;
    }
    p {
        margin: 15px 0;
        font-size: 20px;
        font-weight: 300;
        width: 585px;
    }
    span {
        color: $main-color;
    }
    .main-button {
        margin-left: -5px;
    }
}
